* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Allgemeines Styling */
body {
    font-family: "Arial", Helvetica, sans-serif;
}

/* CSS Kombo Magic > Hauptklasse für Höhe + Klasse mit Bild */
.all-backgrounds {
    height: 75vh;
}

.home-background {
    background: url('../../static/images/home.jpg') top center no-repeat;
    background-size: cover;
}

.about-background {
    background: url('../../static/images/about.jpg') top center no-repeat;
    background-size: cover;
}

.services-background {
    background: url('../../static/images/services.jpg') top center no-repeat;
    background-size: cover;
}


/* Bisschen Header schön gemacht */
header {
    display: block;
    width: 100%;
    background: #333;
    color: white;
    padding: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

/* Menü UL in Nav */
ul li {
    display: inline;
    margin: 0 2rem 0 0;
}

/* Alle links weiss */

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    color: gray;
    text-decoration: none;

}

main {
    width: 1320px;
    margin: 0 auto;
    color: white;
    padding: 2rem;
    min-height: 50vh;
}

footer {
    background: rgba(255, 255, 255, .6);
    width: 1320px;
    margin: 0 auto;
    color: white;
    padding: 2rem;
    color: grey;
    border-radius: 4px;
    text-align: center;
}

